<div class="container mt-5 d-flex justify-content-center align-items-center">

  <div>
    <h1 class="mb-4">Pet info</h1>

    <p><strong>Name:</strong>  <%= @pet.name %></p>
    <p><strong>Address:</strong> <%= @pet.address %></p>
    <p><strong>Species:</strong> <%= @pet.species %></p>
    <p><strong>Found on:</strong> <%= @pet.found_on %></p>

    <div class="d-flex">
      <%= link_to 'edit', edit_pet_path(@pet), class: 'btn btn-dark me-2' %>
      <%= link_to 'delete', pet_path(@pet), data: {turbo_method: :delete, turbo_confirm: "Are you sure"}, class: 'btn btn-danger' %>
    </div>

    <%= link_to 'See all pets', pets_path, class: 'btn btn-secondary mt-4' %>
  </div>
</div>
